
params {
    fasta        = null
    fai          = null
    dict         = null

    bam          = null
    bai          = null

    sites_vcfs   = null
    sites_tbis   = null

    enable_conda = false
}

def test_data_dir = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data"

profiles {
    docker {
        docker.enabled       = true
        docker.userEmulation = true
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    test {
        params.fasta      = "${test_data_dir}/genomics/sarscov2/genome/genome.fasta"
        params.fai        = "${test_data_dir}/genomics/sarscov2/genome/genome.fasta.fai"
        params.dict       = "${test_data_dir}/genomics/sarscov2/genome/genome.dict"

        params.bam        = "${test_data_dir}/genomics/sarscov2/illumina/bam/test.paired_end.sorted.bam"
        params.bai        = "${test_data_dir}/genomics/sarscov2/illumina/bam/test.paired_end.sorted.bam.bai"

        params.sites_vcfs = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test.vcf.gz,${test_data_dir}/genomics/sarscov2/illumina/vcf/test2.vcf.gz"
        params.sites_tbis = "${test_data_dir}/genomics/sarscov2/illumina/vcf/test.vcf.gz.tbi,${test_data_dir}/genomics/sarscov2/illumina/vcf/test2.vcf.gz.tbi"
    }
}

manifest {
    name            = 'drpatelh/nf-tests'
    author          = 'Harshil Patel'
    homePage        = 'https://github.com/drpatelh/nf-tests'
    description     = 'Repo used only for testing purposes'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.0dev'
}
