params {
    input = null
}

profiles {
    docker {
        docker.enabled       = true
        docker.userEmulation = true
        singularity.enabled  = false
        podman.enabled       = false
        shifter.enabled      = false
        charliecloud.enabled = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    mamba {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    test {
        foo = true
    }
}

manifest {
    name            = 'drpatelh/nf-tests'
    author          = 'Harshil Patel'
    homePage        = 'https://github.com/drpatelh/nf-tests'
    description     = 'Repo used only for testing purposes'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.0dev'
}
