process.container = 'interlinetx/gergo.model:b8780492'

docker {
    runOptions= "--gpus all"
    userEmulation = true
    enabled = true
}

//     runOptions= "--platform linux/amd64 --user root --gpus all"

params {

    // Input options
    interactions                = null
    embeddings                  = null
    weights                     = null
    s3_publish                  = null
}
